---
import MainLayout from '../layouts/MainLayout.astro';
import Logo from '../components/Logo.astro';
---

<MainLayout title="Welcome to ngitingaso.com">
	<main>
    <Logo width="512px" height="512px" />
		<h1>Coming <span class="text-gradient">soon</span>...</h1>
	</main>
</MainLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #13151a;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    margin-top: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
